@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root{
    --yellow: #fab005;
    --bg-color: #0a0013;
    --white: white;
    --highlighter: #454446c2;
    --gray: #707070;
    --light-bg: #1b1224;
}


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;                            /* custom scrollbar works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--yellow) var(--light-bg);
}

/* custom scrollbar Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--light-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover{
    background-color: #fab00575;
}



body{
    cursor: default;
    font-family: 'Fredoka', sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

body main{
    width: calc(100% - 190px);
    height: 100vh;
    padding: 0 100px 0 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Fredoka', sans-serif;
    background-color: transparent;
    color: var(--white);
}


/* pre loader */

#loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #0a0013;
}
#loader svg{
    width: 150px;
    height: 150px;
}


/* design and animate logo */

.logo{
    width: 35px;
    height: 40px;
    border-radius: 5px;
}

#circle{
    animation: dot 1.5s linear infinite;
}
@keyframes dot {
    0%, 100% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(30px);
    }
}


/* style nav bar */

.menu{
    width: fit-content;
    height: 100vh;
    position: fixed;
    display: grid;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    background-color: #ffffff12;
    backdrop-filter: blur(5px);
}

.menu a{
    text-decoration: none;
    margin: 0 15px;
}

.menu a i{
    font-size: 22px;
    color: var(--yellow);
}


/* page heading style */

h1{
    position: absolute;
    margin: 40px 0 0 60px;
    font-size: 125px;
    font-weight: 700;
    letter-spacing: 2;
    place-self: start;
    z-index: -1;
    color: #3b3b3bc2;
}




#ring{
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #0a0013;
    border: 2px solid #fab005;
    border-radius: 50%;
}
#triangle{
    width: 0x;
    height: 0px;
    border-bottom: 33px solid #9805fa;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: 300px;
    left: 900px;
    border-radius: 5px;
    position: absolute;
}
#square{
    width: 20px;
    height: 20px;
    border: 2px solid #9805fa;
    background-color: #0a0013;
    border-radius: 5px;
    position: absolute;
}

.r1{
    width: 35px !important;
    height: 35px !important;
    border: 4px solid #fab005 !important;
    top: 50px;
    left: 500px;
}
.r2{
    width: 25px !important;
    height: 25px !important;
    top: 500px;
    left: 700px;
}
.r3{
    top: 150px;
    left: 1200px;
    border: 3px solid #9805fa !important;
}
.r4{
    width: 50px !important;
    height: 50px !important;
    top: 550px;
    left: 950px;
    background-color: #fab005 !important;
    border: none !important;
}

.s1{
    top: 450px;
    left: 1260px;
    transform: rotate(-10deg);
}
.s2{
    top: 100px;
    left: 800px;
    background-color: #fab005 !important;
    border: 5px solid #fab005 !important;
    border-radius: 2px !important;
    transform: rotate(20deg);
}



/* style about section */

.about .me{
    flex: 1;
    text-align: center;
}

.about .me div{
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.about .me #greet{
    font-size: 70px;
    font-family: 'Inspiration', cursive;
    font-weight: 700;
}

.about .me h2{
    font-size: 55px;
    font-weight: 400;
}

.about .me .explore_me{
    cursor: pointer;
    padding: 10px 15px;
    font-size: 15px;
    margin-top: 50px;
    border-radius: 2px;
    border: 1px solid var(--gray);
    background-color: transparent;
    color: var(--gray);
}

#auto_type{
    font-size: 25px; 
    font-weight: 500; 
    letter-spacing: 3px;
    color: var(--yellow); 
    border-right: 2px solid var(--white);
    animation: blink 1s infinite;
}

.about .image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    background-color: var(--yellow);
    width: 300px;
    height: 300px;
    margin-top: 200px;
}

.about .image img{
    width: 400px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-98px);
    margin-left: 2px;
}


@keyframes blink {
    from, to {
        border-right: 2px solid transparent;
    }
    50% {
        border-right: 2px solid var(--white);
    }
}




/* Style skill section */

.skill_set, .exp_card{
    width: 100%;
    padding: 10px 0 10px 30px;
}

.skill_set div, .exp_card .headline{
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.skill_set div:not(.skill_set > div:nth-of-type(1)){
    margin-top: 55px;
}

.skill_set p, .exp_card p {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 5px;
}

.skill_set div hr, .exp_card hr{
    flex: 1;
    height: 1px;
    margin-right: 5px;
    background-color: gray;
    border: none;
}

#prog_lang{
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#prog_lang span{
    cursor: default;
    margin: 5px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 25px;
    background-color: #fae10563;
}

#prog_lang span:hover{
    background-color: var(--yellow);
    color: #0a0013;
}






/* style project section */


.project{
    height: fit-content !important;
}


.project .proj_info:nth-child(odd){
    text-align: left !important;
    margin-left: 0px !important;
    margin-right: -60px;
    z-index: 1;
}

.project .proj_info:nth-child(even){
    text-align: right;
    margin-left: -60px;
}

.proj_contain{
    padding: 40px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.proj_contain .proj_img{
    width: 500px;
    height: 300px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.proj_img div{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #00f7ff1a;
}

.proj_contain .proj_img div:hover{
    background-color: #ffffff00;
}

.proj_contain .proj_info{
    flex: 1;
}

.proj_link p,
.proj_info p {
    font-size: 15px;
    font-family: 'IBM Plex Mono', monospace;
}

.proj_info h2{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.proj_link div a,
.proj_info a{
    text-decoration: none;
}

.proj_link div a svg,
.proj_info a svg{
    width: 20px;
    height: 20px;
    margin: 15px 5px 0;
    color: var(--gray);
}

.proj_link div a svg:hover,
.proj_info a svg:hover{
    color: var(--yellow);
}



.info{
    padding: 20px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 100;
    word-spacing: 2px;
    border-radius: 5px;
    line-height: 25px;
    box-shadow: 0 20px 30px -15px #06001a7c;
    background-color: var(--light-bg);
}

.info:hover{
    box-shadow: 0 20px 30px -15px black;
}


/* style more projects */
.more_proj{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.more_proj button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    padding: 15px;
}

.more_proj button:hover{
    color: #fab005;
    border-color: #fab005;
}

#show_more{
    height: fit-content;
    display: none;
    padding-top: 50px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px !important;
}

.card{
    width: 300px;
    text-align: left;
    background-color: #9805fa62;
    border-radius: 5px;
    padding: 15px;
}

.proj_link{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.proj_link div a svg{
    color: #d1d1d1;
}

.txt_justify{
    text-align: justify;
}





/* style experience section */

.experience{
    height: fit-content !important;
}

.exp_contain .headline{
    align-items: baseline !important;
}

.exp_contain .circle-angle{
    padding: 8px 8px 8px 12px;
    border-radius: 50%;
    color: var(--yellow);
    font-size: 20px;
    border: 2px solid var(--yellow);
}

.exp_contain section{
    margin: 10px 0 0 80px;
    font-size: 20px;
    font-weight: 300;
}

.exp_contain section h2{
    font-size: 20px;
    font-weight: 400;
    color: var(--yellow);
    font-family: 'IBM Plex Mono', monospace;
}


.exp_contain section h3{
    font-size: 25px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 200;
    letter-spacing: 1px;
}

.exp-info{
    margin: 15px 10px 10px 0 !important;
}

.certificate{
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    overflow-x: hidden;
}

.cert_contain{
    width: fit-content;
    display: flex;
    animation: slide 25s infinite;
}

.cert_contain div{
    width: 300px;
    height: 220px;
    margin: 0 80px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-900px);
    }
    50%{
        transform: translateX(-900px);
    }
    55%{
        transform: translateX(-1700px);
    }
    75%{
        transform: translateX(-1700px);
    }
    80%{
        transform: translateX(-2650px);
    }
    100%{
        transform: translateX(-2650px);
    }
}




/* list of certificates */

#csfpc{
    background-image: url('./img/certificates/csfpc.png');
}
#dp{
    background-image: url('./img/certificates/developer-program.png');
}
#c{
    background-image: url('./img/certificates/c++.png');
}
#database{
    background-image: url('./img/certificates/database.png');
}
#evp{
    background-image: url('./img/certificates/goldman-sachs.png');
}
#js-react{
    background-image: url('./img/certificates/js-react.png');
}
#linux-intro{
    background-image: url('./img/certificates/linux.png');
}
#network{
    background-image: url('./img/certificates/network-security.png');
}
#g-python{
    background-image: url('./img/certificates/python.png');
}
#snackdown{
    background-image: url('./img/certificates/snackdown.png');
}








/* style contact section */

.contact .contact_card{
    width: 100%;
    margin-top: 100px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
}

.social{
    text-align: left;
}

.social h3{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;
}

.social i{
    font-size: 30px;
    color: var(--white);
    margin: 30px 30px 20px 0;
}

.social i:hover{
    color: var(--yellow);
}

.social p{
    margin-top: 120px;
    font-size: 13px;
    font-weight: lighter;
    color: rgb(221, 221, 221);
}

.resume{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.resume a{
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px !important;
    padding: 15px 30px;
    margin: 30px auto;
    border-radius: 15px;
    color: var(--white);
}

.resume a:nth-of-type(1){
    background-color: var(--yellow);
    border: 2px solid #0a0013;
    box-shadow: 0 0 5px 0 #c9c9c942;
}

.resume a:nth-of-type(1):hover{
    box-shadow: 0 0 8px 0 #ffffff42;
}

.resume a:nth-of-type(2){
    color: var(--yellow);
    border: 2px solid var(--yellow);
    background-color: transparent;
}

.resume a:nth-of-type(2):hover{
    color: var(--white);
    border: 2px solid var(--white);
}



.globe{
    width: calc(100%-65px);
    height: 300px;
    margin: -300px auto auto 65px;
    overflow: hidden;
}

.globe img{
    width: 100%;
    height: 350px;
}

.globe div{
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: #0a001381;
}


/* style email address */

.email{
    position: fixed;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: lighter;
    color: var(--white);
    right: 25px;
    bottom: 0;
    writing-mode: vertical-lr;
}

.email hr{
    width: 1px;
    height: 50px;
    background-color: #dad9db;
    border: none;
}





/* hover effect for each skills */

#cpp:hover{
    cursor: url('./img/skills/cpp.png') 25 25, default;
}
#python:hover{
    cursor: url('./img/skills/python.png') 25 25, default;
}
#java:hover{
    cursor: url('./img/skills/java.png') 25 25, default;
}
#js:hover{
    cursor: url('./img/skills/js.png') 25 25, default;
}
#html:hover{
    cursor: url('./img/skills/html.png') 25 25, default;
}
#css:hover{
    cursor: url('./img/skills/css.png') 25 25, default;
}
#sql:hover{
    cursor: url('./img/skills/sql.png') 40 40, default;
}
#react:hover{
    cursor: url('./img/skills/react.png') 30 30, default;
}
#flask:hover{
    cursor: url('./img/skills/flask.png') 25 25, default;
}
#node:hover{
    cursor: url('./img/skills/node.png') 25 25, default;
}
#spring:hover{
    cursor: url('./img/skills/spring.png') 25 25, default;
}
#linux:hover{
    cursor: url('./img/skills/linux.png') 25 25, default;
}
#window:hover{
    cursor: url('./img/skills/window.png') 25 25, default;
}
#postman:hover{
    cursor: url('./img/skills/postman.png') 35 35, default;
}
#git:hover{
    cursor: url('./img/skills/git.png') 25 25, default;
}
#figma:hover{
    cursor: url('./img/skills/figma.png') 30 30, default;
}
#vscode:hover{
    cursor: url('./img/skills/vscode.png') 25 25, default;
}
#intellij:hover{
    cursor: url('./img/skills/intellij.png') 25 25, default;
}






/* projects images */
#bal{
    background-image: url('./img/projects/bal.png');
}
#cyberchef{
    background-image: url('./img/projects/cyberchef.png');
}
#pacman{
    background-image: url('./img/projects/pacman.png');
}
#codehub{
    background-image: url('./img/projects/codinghub.png');
}
#blooddonor{
    background-image: url('./img/projects/BloodDonor.png');
}





/* for narrow devices */

.non-responsive{
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    color: var(--white);
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background-color: var(--bg-color);
    display: none;
}

.non-responsive svg{
    width: 300px;
    height: 300px;
}

.non-responsive svg #screen{
    animation: screensize 5s infinite;
}
@keyframes screensize {
    0%, 100% {
        transform: scale(1.12);
    }
    50% {
        transform: scale(0.75);
    }
}











/* manage device */

@media screen and (max-width:560px) {
    .menu{
        height: fit-content;
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin-top: 10px;
    }
    .m_hide{
        display: none;
    }

    body main{
        width: 100vw !important;
        height: fit-content !important;
        padding: 0px !important;
    }


    /* About Section */

    h1{
        margin: 40px 0 0 10px !important; 
        font-size: 80px !important;
    }

    #triangle{
        top: 680px;
        left: 50px;
    }
    
    .r1{
        top: 530px;
        left: 70px;
    }
    .r2{
        top: 450px;
        left: 50px;
    }
    .r3{
        top: 350px;
        left: 300px;
    }
    .r4{
        display: none;
    }
    
    .s1{
        top: 680px;
        left: 380px;
    }
    .s2{
        top: 500px;
        left: 350px;
    }

    .about{
        height: 100vh !important;
        overflow: hidden;
    }

    .about .me{
        margin-top: 80px;
        padding: 0 10px;
    }
    
    .about .me div{
        width: fit-content;
    }
    
    .about .me div p{
        font-size: 18px !important;
    }

    .about .me #greet{
        font-size: 50px;
        font-weight: 600;
    }
    
    .about .me h2{
        font-size: 40px;
    }
    
    #auto_type{
        font-size: 20px; 
    }
    
    .about .image{
        margin: 50px auto auto 70px;
    }

    .about .image img {
        position: relative !important;
        transform: scaleX(1.2) !important;
    }



    /* Skills Section */

    .skill_set{
        width: fit-content !important;
        margin-top: 50px;
        padding: 10px !important;
    }

    .skill_set div hr{
        display: none;
    }
    
    .skill_set p {
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 5px;
    }
    
    #prog_lang span{
        font-size: 14px;
    }



    /* Projects Section */

    
    .project .proj_info:nth-child(odd){
        margin-left: 10px !important;
        margin-right: -100px;
    }
    
    .project .proj_info:nth-child(even){
        margin-right: 10px !important;
        margin-left: -100px;
    }
    
    .proj_contain{
        padding: 40px 0px !important;
    }
    
    .proj_contain .proj_img{
        width: 350px;
        height: 200px;
    }

    .proj_contain .proj_info{
        flex: 1;
    }
    
    .proj_info p {
        font-size: 12px;
    }
    
    .proj_info h2{
        font-size: 20px;
    }
    
    .info{
        padding: 10px;
        margin: 20px 0;
        font-size: 12px;
    }

    #proj_info p{
        font-size: 12px;
    }

    

    /* Experience & Education section */

    .experience h1{
        font-size: 70px !important;
    }

    .exp_card{
        padding: 10px;
    }
    
    .mt{
        margin-top: 70px !important;
    }
    
    .exp_contain .headline,
    .exp_contain .headline p{
        font-size: 15px !important;
    }

    .exp_contain .headline hr{
        display: none;
    }
    
    .exp_contain .circle-angle{
        padding: 6px 5px 6px 9px !important;
        font-size: 12px !important;
    }
    
    .exp_contain section{
        margin: 10px 0 0 50px !important;
    }
    
    .exp_contain section h2{
        font-size: 15px !important;
    }
    
    
    .exp_contain section h3{
        font-size: 18px;
    }
    
    .exp-info{
        text-align: justify;
    }
    
    .cert_contain{
        animation: mob_slide 80s infinite;
    }



    /* Contact Section */


    .contact .contact_card hr{
        display: none;
    }

    .social h3{
        font-size: 20px;
    }

    .social i{
        font-size: 20px;
        margin: 20px 20px 0 0;
    }

    .social p{
        position: absolute;
        left: 20px;
    }

    .resume{
        flex-direction: row;
    }

    .resume a{
        font-size: 13px !important;
        padding: 10px 20px;
        margin: 50px 5px;
    }

    .globe{
        height: 250px;
        margin: -200px auto auto 0;
    }

    .globe img{
        height: 300px;
    }

    .globe div{
        height: 250px;
    }



    .email{
        display: none;
    }
    .email hr{
        display: none;
    }
}

@media screen and (min-width:1000px) and (max-width:1150px){
    
    .proj_contain{
        padding-left: 50px !important;
    }

    .cert_contain{
        animation: mob_slide 80s infinite;
    }
}

@media screen and (max-width:1000px) and (min-width:560px){
    .non-responsive{
        display: block;
    }

    body main{
        display: none;
    }
}



@keyframes mob_slide{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-370px);
    }
    30%{
        transform: translateX(-750px);
    }
    40%{
        transform: translateX(-1130px);
    }
    50%{
        transform: translateX(-1510px);
    }
    60%{
        transform: translateX(-1900px);
    }
    70%{
        transform: translateX(-2270px);
    }
    80%{
        transform: translateX(-2650px);
    }
    90%{
        transform: translateX(-3020px);
    }
    100%{
        transform: translateX(-3400px);
    }
}






